################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JlzQualiTool
/JlzQualiTool/bin/Debug/netcoreapp3.0
/JlzQualiTool/obj/Debug/netcoreapp3.0
/JlzQualiTool/obj
