################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JlzQualiTool
/JlzQualiTool/bin/Debug/**
/JlzQualiTool/obj/**
/JlzQualiTool/qualidata/