################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JlzQualiTool
/JlzQualiTool/bin/Debug/**
/JlzQualiTool/obj/**
/JlzQualiTool/qualidata/
/JlzQualiTool/bin/Release/netcoreapp3.1
/JlzQualiTool/bin/Debug/netcoreapp3.1
/JlzQualiToolTests/bin
/JlzQualiToolTests/obj
